<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kvitter">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.NavigationActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".Activities.accept_changed_pic" android:screenOrientation="portrait" />
        <activity android:name=".Activities.newFolderActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.NewUserActivity" android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.KvitterApp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Activities.AcceptDeleteActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.EditSpecificRecieptActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.EditAccountActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MyAccountActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.AddReceiptActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.MyReceiptActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.StartActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.Specific_receipt" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.Validate_reciept" android:screenOrientation="portrait"/>
    </application>

</manifest>